/* Background color: beige #DDD0C8
   Text Color: Dark Gray #323232
   Heading Colors: Dark Gray
*/

/* DEFAULT STYLING FOR THE PAGE  */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    /* font-family: sans-serif; */
    background-color: #DDD0C8;
    color: #323232; 
    min-height: 100vh;
    /* font-family: 'Work Sans', sans-serif; */
    font-family: 'Work Sans', Courier, monospace
}

/* HEADING STYLING */
h1 {
    color: #323232;
    text-align: center;
    font-size: xx-large;
    margin-top: 50px;
}

h2, h3 {
    color: #323232;
}

h2 {
    font-size: x-large;
}

h3 {
    font-size: larger;
}

/* LINK STYLING */

/* No need for skipping to main content in mobile view */
.skipToMain {
    position: relative;
    top: -500px;
    text-transform: uppercase;
    display: block;
}

.skipToMain:focus {
    position: absolute;
    top: 50px;
    border: solid black 1px;
}

/* NAV STYLING */
nav {
    box-shadow: 3px 3px 5px rgba(0,0,0,0.1);
    position: fixed;
    width: 100%;
    top: 0;
    background-image: url('../images/nav_background.jpg');
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center center;
}

nav ul {
    width: 100%;
    display: flex;
    list-style: none;
    justify-content: flex-end;
    align-items: center;
}

nav li {
    height: 50px;
}

nav a {
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
}

nav a:hover {
    background-color: lightgray;
}

nav a:focus {
    background-color: lightgray;
}

nav li:first-child {
    margin-right: auto;
}

.side-menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    z-index: 500;
    /* background-color: white; */
    background-color: rgba(255,255,255,0.4);
    box-shadow: -10px 0 10px rgba(0,0,0,0.1);
    /* display: flex; */
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    backdrop-filter: blur(10px);
    display: none;
}

.hideOnMobile {
    display: none;
}

.side-menu li {
    width: 100%;
}

.side-menu a {
    width: 100%;
}

.title {
    font-size: 2rem;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

nav a:hover {
    color: dodgerblue;
}

nav a:focus {
    color: dodgerblue;
}

.selected {
    border-bottom: 3px solid dodgerblue;
}

/* PARAGRAPH STYLING */
p {
    line-height: 32px;  
}

/* RECIPE STYLING */
.recipe {
    margin: 0;
    padding: 0;
    margin-top: 25px;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: 15% 70% 15%;
    /* gap: 15px; */
}

.recipe-info {
    grid-column: 2; /* Place the box in the middle column */
    margin: 0 auto; /* Center horizontally within the middle column */
    text-align: center; /* Center the text within the box */
}

/* PET STYLING */
.pet {
    margin: 0;
    padding: 0;
    margin-top: 25px;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: 15% 70% 15%;
}

.pet-info {
    grid-column: 2; /* Place the box in the middle column */
    margin: 0 auto; /* Center horizontally within the middle column */
    text-align: center; /* Center the text within the box */
}

/* LOCATION styling */
.location {
    margin: 0;
    padding: 0;
    margin-top: 25px;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: 15% 70% 15%;
    /* gap: 15px; */
}

.location-info {
    grid-column: 2; /* Place the box in the middle column */
    margin: 0 auto; /* Center horizontally within the middle column */
    text-align: center; /* Center the text within the box */
}

.photo-gallery {
    grid-column: 2; /* Place the box in the middle column */
    margin: 0 auto; /* Center horizontally within the middle column */
    text-align: center; /* Center the text within the box */

}

/* PHOTO GALLERY STYLING */
.static {
    display: none;
}

img {
    border: solid 5px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
    padding: 5px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    aspect-ratio: 3 / 3;
}

video {
    border: solid 5px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
    padding: 5px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    aspect-ratio: 3 / 3;
}

hr {
    color: black;
    size: 10px;
    border-style: inset;
    border-width: 3px;
}

/* Create a keyframe to jiggle the image and ease it out */
@keyframes jiggle {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(-5deg); }
    50% { transform: rotate(5deg); }
    75% { transform: rotate(-3deg); }
    100% { transform: rotate(0deg); }
  }
  
/* Apply the animation to the image on hover */
img:hover {
animation: jiggle 0.5s ease-in-out;
}

@media screen and (prefers-reduced-motion: reduce){

    html {
        scroll-behavior: auto; /* Removes scroll animation */
    }
  
    .skipToMain {
      -webkit-transition: none; /* sets to default setting */
      transition: none;        /* sets to default setting */
     }  

    .gif {
        display: none;
    }

    .static {
        display: block;
    }

    img:hover {
        animation: none;
    }


  }



/* Tablet view */
@media screen and (min-width: 768px) {
    
    .hideOnMobile {
        display: flex;
    }

    .menu-button {
        display: none;
    }


    /* Changing the styling of the grid info for the location (desktop and tablet the same) */
    .location {
        grid-template-columns: 5% 90% 5%;
    }

    .top-row {
        display: flex;
        justify-content: space-around;
        grid-gap: 250px;
    }

    .top-row figure {
        width: 33%;
    }
    .bottom-row figure {
        width: 50%;
    }

    .bottom-row {
        display: flex;
        justify-content: space-around;
    }

    /* PETS */
    .pet .photo-gallery {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 5px;
        grid-gap: 5px;
        justify-content: space-between;
    } 
    
    /* recipes */
    .recipe .photo-gallery{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 10px;
        justify-content: space-evenly;
    }

    .recipe .photo-gallery img:nth-child(even) {
        grid-column: 2;
        grid-row: 2;
    }

    .recipe .photo-gallery img:nth-child(1) {
        grid-column: 1;
        grid-row: 1;
    }

    .recipe .photo-gallery img:nth-child(3) {
        grid-column: 3;
        grid-row: 1;
    }
     
}

/* DESKTOP VIEW */
@media screen and (min-width: 1200px) {

    /* PETS */
    .pet .photo-gallery {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        margin: 5px;
        grid-gap: 5px;
        justify-content: space-between;
    }

    /* recipes */
    .recipe .photo-gallery {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 10px;
        justify-content: space-evenly;
        
    }   

    .recipe .photo-gallery img:nth-child(even) {
        grid-column: 2;
        grid-row: 1;
    }

    .recipe .photo-gallery img:nth-child(1) {
        grid-column: 1;
        grid-row: 1;
    }

    .recipe .photo-gallery img:nth-child(3) {
        grid-column: 3;
        grid-row: 1;
    }


}
